{% extends 'base.html' %}

{% block content %}
    <div class='row text-center'>
        <div class='col'>
            <h1> Welcome to Zwitter</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mx-auto col-10">
            <form class="form" id="tweet-create-form" method="POST" action="create-tweet">
                {% csrf_token %}
                <input type="hidden" name="next" value="/">
                <textarea class="form-control" name="content" placeholder="Your Zweet..."></textarea>
                <button type="submit" class="btn btn-primary">Zweet</button>
            </form>
        </div>
    </div>

    <div class='row' id="tweets">
        Loading...
    </div>
    
    <script>
        const handleTweetCreateFormSubmission = function (event) {
            event.preventDefault()
            const myForm = event.target
            const myFormData = new FormData(myForm)
            const url = myForm.getAttribute("action")
            const method = myForm.getAttribute("method")

            const xhr = new XMLHttpRequest()
            xhr.open(method, url)
            xhr.onload = function() {
                const serverResponse = xhr.response
                const twtElements = document.getElementById('tweets')
                loadTweets(twtElements)
            }
            xhr.send(myFormData)
        }

        const tweetCreateForm = document.getElementById("tweet-create-form")

        tweetCreateForm.addEventListener("submit", handleTweetCreateFormSubmission)

        const twtElements = document.getElementById('tweets')
        
        const loadTweets = function(tweetsElement) {
            const xhr = new XMLHttpRequest()
            const method = 'GET'
            const url = '/tweets'
            const responseType = 'json'

            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.onload = function() {
                const serverResponse = xhr.response
                var listedItems = serverResponse.response
                var finalTweetStr = ""
                var i;
                for(i = 0; i < listedItems.length; i++) {
                    var tweetObj = listedItems[i]
                    var formattedTweet = formatTweet(tweetObj)
                    finalTweetStr += formattedTweet
                }
                tweetsElement.innerHTML = finalTweetStr
            }
            xhr.send()
        }

        loadTweets(twtElements)

        

        function handleLikeBtn(tweet_id, currentCount) {
            console.log(tweet_id, currentCount)
        }

        function LikeButton(tweet) {
            return "<button class='btn btn-primary btn-sm' onClick=handleLikeBtn("+tweet.id+","+ tweet.likes +")>Like  " + tweet.likes + "</button>"
        }

        function formatTweet(tweet) {
            return "<div class='col-12 col-md-10 mx-auto py-3 border rounded mb-4' id='" +
                tweet.id + "'>" +
                "<p>" +
                tweet.content +
                "</p><div class='btn-group'>" +
                LikeButton(tweet) +
                "</div></div>"
        }

    </script>
{% endblock content %}